.bi{
	margin: 0;
}

.title-nav {
overflow: hidden;
color: white;
font-size: x-large;
}

nav{
background-color: #0a246b !important;
display: flex;
justify-content: space-between;
overflow:hidden;
width: 100%; /* Full width */
padding-left: 10%;
align-items: center;
}


.title-nav{
padding-left: 50px;
float: left;
display: block;
color: #f2f2f2;
text-align: center;
text-decoration: none;
}

nav a{
	padding-right: 10%;
	margin-left: 50px;
}

#search-icon{
	color: #f2f2f2;
}

.login-btn{
	float: right;
}

.icon-container{
	display: flex;
}

.icon-container > a {
	justify-content: space-between;
}