.title-nav {
color: white;
font-size: x-large;
}

nav{
overflow:hidden;
width: 100%; /* Full width */
padding-left: 10%;
}

a{
float: left;
display: block;
color: #f2f2f2;
text-align: center;
text-decoration: none;
}
