<div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
      <span class="padding-bottom--15">Users List </span>
      <!-- <form id="stripe-login"> -->
      <div class="field padding-bottom--24">            
            <td><a href="http://localhost:8080/">Create</a></td>
        
      </div>
    </div>

  <div class="formbg ">
    <div class="formbg-inner padding-horizontal--48">
      <span class="padding-bottom--15">Users List </span>
  <table class="table rounded">
    <thead class="thead-dark rounded">
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">category</th>
        <th scope="col">Picture</th>
        <th scope="col">Create room</th>
      </tr>
    </thead>
    <tbody>
      <tr class="teachers-table" *ngFor="let elem of posts" >
        <th scope="row">1</th>
        <td>{{elem.title}}</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      
    </tbody>
  </table>
</div>
</div>
