
  <div class="formbg ">
    <div class="formbg-inner padding-horizontal--48">
  <table class="table rounded">
    <thead class="thead-dark rounded">
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">Description</th>

        <th scope="col">Create room</th>
      </tr>
    </thead>
    <tbody>
      <tr class="teachers-table" *ngFor="let elem of posts" >
        <th scope="row">1</th>
        <td>{{elem.title}}</td>
        <td>{{elem.description}}</td>

        <td><button routerLink="http://localhost:3000" class="create-btn btn btn-primary">Join</button></td>
      </tr>
      
    </tbody>
  </table>
</div>
</div>