/* You can add global styles to this file, and also import other style files */
/* @import "bootstrap/dist/css/bootstrap.css" */
* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  font-family: "Fira Sans", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Thasadith", sans-serif;
  font-size:20px;
}
