<div class="formbg">
  <div class="formbg-inner padding-horizontal--48">
    <h4>Here you can have whatever you want</h4>
    <div class="row">
      <div class="col">
        <!-- Name input -->
        <div class="form-outline">
          <label class="form-label" for="form8Example2"
            >What categorie you want?</label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            name="id_type"
            input="change"
            (change)="DetectInput($event)"
          >
            <option>select type of lecture</option>
            <option
              class="option-type"
              ngDefaultControl
              *ngFor="let elem of datatype; let i = index"
            >
              {{ elem.label_type }}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <!-- Name input -->
        <div class="form-outline">
          <label class="form-label" for="form8Example4"
            >What do you want to search?</label
          >
          <input
            id="form8Example4"
            class="form-control"
            type="text"
            name="search"
          />
        </div>
      </div>
      <div class="col">
        <!-- Email input -->
        <div class="form-outline">
          <label class="form-label" for="form8Example4">Click to :</label>

          <button class="btn btn-primary btn-block mb-4" (click)="search()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
